/*
	General purpose formatting for all documents
*/
html, body {
	margin:0px;
	height:100%;
	font-family:Open Sans;
}

* {
	box-sizing:border-box;
}

.content {
	min-height:100%;
	margin:30px;
}

.btn {
	background-color:#008752;
}

.date {
	color:#888;
	padding:0 10px;
}

.username a {
	padding:0 10px;
}