.forum-item-preview {
	
}

.forum-item-preview .forum-title {
	font-size:1.5em;
}

.forum-title a:hover {
	text-decoration:none;
}

.forum-item-preview .forum-contents {
	max-height:150px;
	overflow:ellipses;
}

.forum-question .forum-contents {
	font-weight:bold;
}

.rep {
	float:right;
	right:20px;
}

.flagged {
	background-color:#FF7F00;
}

.panel-footer .glyphicon {
	margin:4px;
}
.panel-footer .glyphicon:hover {
	padding:4px;
	border-radius:4px;
	margin:0px;
	cursor:pointer;
}
.panel-footer .glyphicon-thumbs-up:hover {
	background-color:#888;
}
.panel-footer .glyphicon-hand-down:hover {
	background-color:#a00;
}